In [2]:
# Function in python  ==>

# 1.predefine function  ==> print(),input(),max(),min(),sort()
# 2 .manually defined dunction ==>

#     a. def 
#     b.  name of function
#     c . logic of function 
#     d .call of function

In [3]:
# syntax 

# def name_of -function():
#     logics

# name_of_function()

In [4]:
# Q1 write a function who add 2 numbers ?

def add():
    a = 1 
    b = 4
    c = a+ b
    print("Addition = ",c)
add()

Addition =  5

In [5]:
# Arguments and parameter 

# 1 . parameter ==>  Therse are the values which we supplied when we create a function 
# 2 . Arguments  ==> These are the values which we supplied when we call the function

In [7]:
def my_add(a,b):
    c= a+b
    print("Addition = ",c)
p  =4 
q = 5
my_add(p,q)   #here (p,q) are argumenrs and (a,b) are parameters

Addition =  9

In [8]:
def oddeven(): #without arguments and paramtere function 
    a =6
    if(a%2==0):
        print("Even number")
    else:
        print("Odd number")
oddeven()

Even number

In [10]:
def oddeven(a):  # with argumnets and paraeter function 
    if(a%2==0):
        print("even")
    else:
        print("Odd number ")
p = 5 
oddeven(p)

Odd number

In [11]:
# CASE  - 1 (NO ARGUMENTS NO RETURN)

def add():
    a = 5 
    b = 2
    c = a+b
    print("Add =" ,c)
add()

Add = 7

In [12]:
# CASE  - 2 (WITH ARGUMENTS NO RETURN )

def add(a,b):
    c = a+ b
    print("Add = ",c)
a  =4
b = 2
add(a,b)

Add =  6

In [13]:
# CASE - 3 (NO ARGUMENTS WITH RETURN )

def add():
    a = 4 
    b =5
    c = a+b
    return c
x = add()
print("Addition = " ,x)

Addition =  9

In [16]:
# CASE -4 (WITH AGRUMNETS AND WITH RETURN)

def add(a,b):
    c = a+b
    return c
a = 2
b = 4
x  = add(a,b)
print("Addition = " ,x)

Addition =  6

# lambda function

In [19]:
# LAMBDA FUNCTION  = a lambda function a can take any number of arguments but can only have
# one expression:

# syntax : lambda arguments :expression

# ex: 1

x = lambda a : a+5
print("total value = ",x(2))

# ex:2 

x = lambda a,b:a*b
print("total product is =",x(3,5))

# ex:3 

x = lambda a,b,c : a + b -c
print("total =",x(4,5,6))

total value =  7
total product is = 15
total = 3

In [20]:
x = lambda a,b,c:a**2 + b**2 + c**2
x(2,4,5)

45

# filter function

In [14]:
# (2) Filter function

# filter function = => The fileter fucntion return an iterator where the item are
# filtered through a function to text  ,if the item is accepted return true or false 
# fileter(logic, data)

age = [5,12,17,18,34,67,50]
def myFun(x):
    if(x>=18):
        return True
    else:
        return False
kid = list(filter(myFun,age))
print(kid)

[5, 12, 17]

# map function

In [7]:
# MAP FUNCTION ==> The map() executes a specified fucntion for each item in a iterable .
# The item is sent to the fucntion as parameters.

a = ["3","45","89"]

# # method -1
# # print(a)

# for i in range(len(a)):
#     a[i] = int(a[i])
    
# print(a)
# a[2] = a[2] +1
# print(a[2])

# method -2 (by using map function )
b = list(map(int,a))
print(b)
b[2] = b[2] +1
print(b[2])

[3, 45, 89]
90

In [9]:
a = ['3','5']
a[0] = int(a[0])
a[1] = int(a[1])

print(a)

[3, 5]

In [27]:
# Example -2

a  = [1,2,3,4,5]

def sqa(a):
    return a*a
square = list(map(sqa,a))
print(square)

a = [1,2,3,4,5]
square = list(map(lambda x : x*x,a))
print(square)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [28]:
# Q1 : write a lambda function that take two argumnents ,x and y return x^2 +y^2. Test it on two numbers.
# Q :write a python program using map and lambda to convert a list strings to uppercase.
# Q : write a python program using filter and lambda to filter out  all words from a list that are less than 5 character long 
# Q :  write a python program using filter and lambda to filter out  all number from a list that are less than 5

In [29]:
# 1
s = lambda a,b:a**2 + b**2
a  =3
b = 5
print("total product is =",s(3,5))

total product is = 34

In [1]:
# 2
a = ["a","deepak","c","D","E"]
square = list(map(lambda x :x.upper(), a ))
print(square)

['A', 'DEEPAK', 'C', 'D', 'E']

In [3]:
# 3

a = ["Deepak","golu","Adi","khemu","Rahul"]

final = list(filter(lambda a: len(a)>=5,a))
print(final)

['golu', 'Adi', 'khemu', 'Rahul']

In [9]:
# 4
a  = [1,4,3,6,7,8,5]
less = list(filter(lambda x: x<5,a))
print(less)

[1, 4, 3]