# list

In [1]:
# list ===>
# 1. Identification  = []
# 2. mutable data type ==> we can cahnage or update our values at a run time 
# 3. Indexing  start from 0 and length start from 1.
# 4. This is a container in which we can store or assign the values

In [2]:
a = ['sam' ,45 ,'Deepak',53.56]
type(a)

list

In [3]:
# Mutable 
print(a[0])
print(a[1])
print(a[2])
print(a[3])

sam
45
Deepak
53.56

In [4]:
for i in range(len(a)):
    print(a[i])

sam
45
Deepak
53.56

In [5]:
for i in range(len(a)):
    print(a[i],end=" ")

sam 45 Deepak 53.56

In [6]:
a

['sam', 45, 'Deepak', 53.56]

In [7]:
a[2]

'Deepak'

In [8]:
a[2] = "yash"
print(a)

['sam', 45, 'yash', 53.56]

# function in list

In [9]:
# 1:  .index()


a = ['deepak',54,'rahul',67.88]
print(a.index('rahul'))

2

In [10]:
# 2 : .len()

a = ['deepak',45,'yash',67.88]
print(len(a))

4

In [11]:
# 3: .append() ==> it will add elements in the last indexing of list


a = ['deepak',45,'yash',67.88]

a.append("Rohit")
print(a)

['deepak', 45, 'yash', 67.88, 'Rohit']

In [12]:
# 4: .insert(index,object ) ==> 


a = ['deepak',45,'yash',67.88]

a.insert(1,19)
print(a)

['deepak', 19, 45, 'yash', 67.88]

In [13]:
# 5:  .count() ==>count the number 


a = ['deepak', 19, 45, 'yash', 67.88,19,'deepak',19]
a.count(19)

3

In [14]:
# 6: pop() ===> delete the element from the last indexing.

a = ['deepak', 19, 45, 'yash', 67.88]

a.pop()
a

['deepak', 19, 45, 'yash']

In [15]:
a.pop()
a

['deepak', 19, 45]

In [16]:
a.pop()
a

['deepak', 19]

In [17]:
a.pop()
a

['deepak']

In [21]:
# 7: remove() ===> it will remove the element

a = ['deepak', 19, 45, 'yash', 67.88]
a.remove(45)
a

['deepak', 19, 'yash', 67.88]

# How can we create a user defined list ?

In [23]:
a = []

size = int(input("enter the size "))

for i in range(size):
    value  = input("enter the values ")
    a.append(value)
print(a)

enter the size  4
enter the values  1
enter the values  2
enter the values  d
enter the values  4

['1', '2', 'd', '4']

In [27]:
a = []

size = int(input("enter the size "))*

for i in range(size):
    value  = int(input("enter the values "))
    a.append(value)
    
print(a)
sum = 0
for i in range(len(a)):
    sum = sum + a[i]
print("sum of a list",sum)

enter the size  4
enter the values  10
enter the values  20
enter the values  30
enter the values  40

[10, 20, 30, 40]
sum of a list 100