In [1]:
# Tuple  = =>

# 1. Identification  =()
# 2 .Immutable data type ==> we can not  change or update at a run time 
# 3. Indexing start from 0 and length start from 1

In [3]:
a = ('sam',56,'deepak',34.45)
type(a)

tuple

In [4]:
print(a[0])
print(a[1])
print(a[3])

sam
56
34.45

In [5]:
# Q:1 

# a = ('sam' ,56, 'deepak',56.87 ) convert into a = ('sam' ,600, 'deepak',56.87 )

In [1]:
a = ('sam' ,56,'deepak',56.78)
print(a)

b= list(a)
b[1] = 600

print(b)

('sam', 56, 'deepak', 56.78)
['sam', 600, 'deepak', 56.78]

In [8]:
# loop in tuple
a = ('sam',56,'deepak',67.889)
for i in a:
    print(i)

sam
56
deepak
67.889

In [9]:
len(a)

4

In [11]:
for i in range(len(a)):
    print(a[i])

sam
56
deepak
67.889

In [12]:
# Index()

a = ('sam' ,56, 'deepak',56.87 )

a.index('deepak')

2

In [13]:
# len()

In [16]:
# max()

a = (1,2,4,56,78)
max(a)

78

In [17]:
# min()

a = (1,2,4,56,78)
min(a)

1

In [19]:
# count()



a = (1,2,4,56,78,2,2,2,1,3,2)
a.count(2)

5

# how can we create a user defined tuple ?

In [20]:
a=  []
size  = int(input("enter size"))

for i in range(size):
    val = input("enter item:")
    a.append(val)
b = tuple(a)
b

enter size 4
enter item: 3
enter item: 2
enter item: 3
enter item: 2

('3', '2', '3', '2')

In [22]:
# c = list(b)
# c[1] = int(c[1])

In [23]:
# isdigit()

a = "34df"
a.isdigit()

False

In [2]:
a = ('sam' ,'56', 'deepak','34' )

b = list(a)

c =[]
d = []
print(b)

for i in range(len(b)):
    if(b[i].isdigit()==True):
        c.append(b[i])
    elif(b[i].isalnum()==True):
        d.append(b[i])
e = tuple(c)
f= tuple(d)
print(e)
print(f)

['sam', '56', 'deepak', '34']
('56', '34')
('sam', 'deepak')

In [41]:
a =  (1,45,89,90)
# print(sum(a))
sum = 0

In [42]:

for i in range(len(a)):
    sum = sum + a[i]

print(sum)

225

# user define tuple sum

In [43]:
a = []
size = int(input("enter item:"))
for i in range(size):
    val  = int(input("Enter the number "))
    a.append(val)
b = tuple(a)

sum = 0

for i in range(size):
    sum= sum + a[i]
print("Total Addition  = " ,sum)

enter item: 4
Enter the number  1
Enter the number  2
Enter the number  3
Enter the number  4

Total Addition  =  10