In [7]:
# 1:	Write a Python program to check whether an element exists in a list.

mylist = [10,20,30,40,50]

Element = int(input("enter the  element "))

if Element in mylist:
    print(True)
else:
    print(False)

enter the  element  50

True

In [9]:
# 2: write a Python program to swap two elements in a list.

num1 = int(input("enter the first number"))
num2 = int(input("enter the second number "))

print("Before Swapping ")

print("Num1 :",num1)
print("Num2 :",num2)

num1,num2  = num2,num1

print("After swapping")
print("Num1 :",num1)
print("Num2 :",num2)

enter the first number 20
enter the second number  40

Before Swapping
Num1 : 20
Num2 : 40
After swapping
Num1 : 40
Num2 : 20

In [13]:
# 3.	Write a program to reverse words of a string.

str ="Hello"

print(str[::-1])


# Second method

# mylist=[]
# for i in str:
#     mylist.insert(0,i)
# print("".join(mylist))

olleH

In [14]:
# 4.	Write a program to find the size of a Tuple in Python.

mytuple = (10,20,30,40,"hey","hello")

print(len(mytuple))

6

In [74]:
# 5.	Write a program to Sum the elements of a Tuple

mytuple = (10,20,30,40,50,60)

sum = 0
for i in mytuple:
    sum = sum +i
print(sum)

210

In [36]:
# 6.	Write a program to Sort Python Dictionaries by Key or Value

mydict = {"a":20,"b":10,"e":60,"d":40,"f":30}

print(dict(sorted(mydict.items())))  # sorted by keys


print(dict(sorted(mydict.items() ,key = lambda x : x[1])))  # sort basis by values

{'a': 20, 'b': 10, 'd': 40, 'e': 60, 'f': 30}
{'b': 10, 'a': 20, 'f': 30, 'd': 40, 'e': 60}

In [45]:
# 7: Write a program to merge two dictionaries in python.

dict1 = {"x" :1 ,"y" : 2,"a":3}

dict2 = {"z" :3 ,"w" :4}

dict1 = dict1 | dict2

print(dict1)

{'x': 1, 'y': 2, 'a': 3, 'z': 3, 'w': 4}

In [48]:
# 8.Write a program to iterate over a set in Python

mydict = {"Deepak","Ankit","Adhi","Rohit"}

for i in mydict:
    print(i)

Ankit
Deepak
Adhi
Rohit

In [ ]:
# 9.	Write a program to remove items from a set.

mydict = {"Deepak","Ankit","Adhi","Rohit"}

mydict.remove("Ankit")
print(mydict)

{'Deepak', 'Adhi', 'Rohit'}

In [51]:
# 12.	Write a program to print a simple pyramid pattern in Python.

for i in range(1,6):
    for s in range(1,6-i):
        print(" ",end="")
    for j in range(1,i+1):
        print("*",end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [59]:
# 13.	Write a program to extract numbers from a string using RegEx.

# s = "D1E2p@A2K"

s= "my name  1 is   23 deepak "
for i in s:
    if i.isdigit():
        print(i,end="")

123

In [75]:
# 14.	Write a program to remove all whitespaces using RegEx.

s= "   my name is 23 deepak "

print(s.strip(" "))

my name is 23 deepak

In [79]:
# 17.	Write a program to take input from user and store in .txt file in Python


with open("file.txt","w") as f:
    content = input("enter the content ")
    f.write(content)
    print("done")

enter the content  hey everyone welcome to poddar international college

done

In [71]:
# 19.	Write a Python Program to find volume and surface area of a cube using function.

def cube(s):
    volume_cube = s*s*s
    print("Volume of cube is :",volume_cube)

    surface_area = 6 *s**2
    print("Surface area of cube :",surface_area)


cube(5)

Volume of cube is : 125
Surface area of cube : 150

In [73]:
# 20.	Write a function that inputs a number and prints the multiplication table of that number

number = int(input("enter the number "))

for i in range(1,11):
    print(number ,"*",i, "=",number*i)

enter the number  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50