In [4]:
# A pandas series is like a column in a table. it is 1D array which holds data of any type
# here we will create a simple pandas series 

import pandas as pd

data = [10,20,30,40,50]

new_data = pd.Series(data)
print(new_data)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
# labeling :- label can be use to access a  specified values

data = [10,20,30]

n = pd.Series(data)
print(n)

print(n[1])                     # 1 is th index value 20

0    10
1    20
2    30
dtype: int64
20

In [9]:
# with createa label you can create your own name labels:

data = [10,20,30]

n = pd.Series(data,index=["x","y","z"])
print(n)

x    10
y    20
z    30
dtype: int64

In [10]:
print(n["y"])

20

In [12]:
# youcan alsi use a key or value object like a dictionary ,when creating a series .
# here we will create a simple pandas series from a dictionary 

data = { "name" :"deepka","Age":20,"Course":"Bca"}

n = pd.Series(data)
print(n)

name      deepka
Age           20
Course       Bca
dtype: object

# DataFrame

In [14]:
data = { "subject":["python","java","Aws"],"marks":[85,75,68]}

n = pd.DataFrame(data)
print(n)

  subject  marks
0  python     85
1    java     75
2     Aws     68